@use '../../styles/_theme.scss' as theme;

.most-picked-agent-container {
  background-color: theme.$background-color-secondary;
  border: 1px solid theme.$box-border-color;
  width: 100%;
  padding: theme.$primary-spacing;
  border-radius: theme.$box-border-radius;
  text-align: start;
  display: flex;
  flex-direction: column;
}
