// src/styles/_theme.scss

// Colors
$primary-background-color: #1a1a1a;
$secondary-background-color: #2a2a2a;
$light-blue-histogram-color: #0aa3a3;
$teal-histogram-color: #0a647a;
$box-border-color: #333;

// Text
$primary-font: "Open Sans Regular";
$text-color-primary: #fff;
$text-color-secondary: #888;
// Add more colors and other theme variables as needed