// Colors
$background-color-primary: #1a1a1a;
$background-color-secondary: #2a2a2a;
$light-blue-histogram-color: #0aa3a3;
$teal-histogram-color: #0a647a;
// Boxes
$box-border-color: #333;
$box-border-radius: 10px;
// Text
$primary-font: "Open Sans Regular";
$text-color-primary: #fff;
$text-color-secondary: #888;
$text-color-flashy: #0ff;
// Spacings
$primary-spacing: 32px;
// Dimensions
$right-column-width: 400px;
