@use '../../styles/_theme.scss' as theme;

.top-banned-agents-container {
  background-color: theme.$background-color-secondary;
  border: 1px solid theme.$box-border-color;
  width: 100%;
  padding: theme.$primary-spacing;
  border-radius: theme.$box-border-radius;
  flex: 1;
}

.banned-agent-entry {
  display: flex;
  flex-direction: column;
  gap: theme.$secondary-subspacing;
  padding: theme.$primary-subspacing 0 theme.$secondary-subspacing 0;
}

.banned-agent-entry + .banned-agent-entry {
  border-top: 2px solid theme.$box-border-color;
}

.banned-agent-entry-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.banned-agent-entry-name {
  color: theme.$text-color-primary;
}

.banned-agent-entry-ban-count {
  color: theme.$text-color-flashy;
}

.banned-agent-entry-details {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: theme.$text-color-secondary;
}

.ban-list {
  line-height: 32px;
}