@use '../../styles/_theme.scss' as theme;

.team-preferences-container {
  background-color: theme.$background-color-secondary;
  border: 1px solid theme.$box-border-color;
  min-width: theme.$right-column-width; 
  width: theme.$right-column-width;
  padding: theme.$primary-spacing;
  border-radius: theme.$box-border-radius;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: theme.$secondary-spacing;
}

.team-preferences-container > div {
  display: flex;
  flex-direction: column;
  gap: theme.$primary-subspacing;
}

.list-entry-container {
  display: flex;
  flex-direction: column;
}

.list-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40px;
}

.list-entry + .list-entry {
  border-top: 2px solid theme.$box-border-color;
}

.list-entry-agent {
  color: theme.$text-color-primary;
  font-weight: 500; 
}

.list-entry-team {
  color: theme.$text-color-flashy;
}
